.main {
    height: 720px;
    width: 100%;
    background-color: rgb(235, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
        margin-top: 100px;
    }

    .container {
        margin-left: 12%;
        margin-right: 12%;
    }

    .form {
        margin-left: 200px;
        
    }
}

.txt {
    color: black;
}

.row-new {

    margin-top: 7px;
    display: grid;
    grid-template-columns: 20% 60%;
}

.hr-container {
    border: 2px solid black;
}