@mixin one-leav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin two-leav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




.modal-ws{
    min-width: 65%;
}

.month-div{
    display: flex;
    justify-content: space-evenly;
    .months{
        text-decoration: none;
    }  
}


.leav-bal{
    @include one-leav();
    .leav-newbal{
        @include two-leav();
    }
}



.new-calendar{
    height: 30rem;
    margin-top: 1rem;
}

.date-margin{
    margin-top: 0.2rem;
}

.btn-inputs{
    width: 32%;
    margin-top: 0.2rem;

}


// .react-datepicker-wrapper {
//     @include two-leav();
// }
// .react-datepicker__input-container{
// @include two-leav();
// }
// .date-input{
//     @include two-leav();
// }

.react-datepicker-popper{
    position: absolute;
    inset: 0px auto auto 0px;
    transform: translate(400px, 106px);
    z-index: 10;
}
